body{
    font-family: 'Poppins', sans-serif;
}

/* Whole body */

.extension{
    width: 300px;
    height: 300px;
}

/* Header */

.header{
    display: flex;
}

.logo{

}

.title{

}

.titleText{

}

/* main content */

.content{

}

/* Pass display */

.pass{
    
}

.text{

}

.copy{

}

/* Pass size slider */

.slider{

}

.manualam{

}

.autoam{

}

/* Pass options */

.options{

}

.tall{

}

.small{

}

.num{

}

.sym{

}

/* Footer */

.footer{

}

.info{

}